# Environments
.env
.venv
env/
venv/
ENV/

# Secrets
.streamlit/secrets.toml

# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# Temporary scripts
run.sh

# Data
data/faiss_index.bin
data/chunks.pkl
